<p>home works!</p>
<!-- make a vertical timeline -->
<div class="vertical-timeline">
    <div class="vertical-timeline-item">
        <div class="vertical-timeline-item-content">
            <h2>2011 - present</h2>
            <p>Founder & CEO, Example</p>
            <p>Web Designer, UI/UX Engineer</p>
        </div>
    </div>
    <div class="vertical-timeline-item">
        <div class="vertical-timeline-item-content">
            <h2>2008 - 2011</h2>
            <p>Web Designer, UI/UX Engineer</p>
        </div>
    </div>
    <div class="vertical-timeline-item">
        <div class="vertical-timeline-item-content">
            <h2>2006 - 2008</h2>
            <p>Graphic Designer</p>
        </div>
    </div>
    <div class="vertical-timeline-item">
        <div class="vertical-timeline-item-content">
            <h2>2004 - 2006</h2>
            <p>Art Director</p>
        </div>
    </div>