@keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes slideRight {
    to {
      transform: translateX(500px);
    }
  }

  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }

  @keyframes toTopRight {
    to {
      transform: translate3D(500px, -500px, 0) rotate(-30deg);
      
    }
  }
  