html {
    scroll-behavior: smooth;
  }

nav {
    backdrop-filter: blur(20px);
    color: black;
}

.nav-colored { background-color:#0a0a0a; }
.nav-transparent { background-color:transparent;}
.navSvg {
  fill: black;
}

.myImage {
    animation: slideRight 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
  }
.fadeOut {
    animation: fadeOut 0.3s;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll)*-1s);
}

.edu::before {
  content: '─ ';
}

.resume {
  animation: toTopRight 1s;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll)*-1s);
  font-size: 30rem;
  color: #070707;
  position: absolute;
  left: -500px;
  bottom: -400px;
  transform: rotate(-30deg);
  line-height: 100vh;
}
@media (max-width: 768px) {
  .resume {
    font-size: 20rem;
    bottom: -200px;
  }
}

.progress-bar {
  width: 100%;
  background-color: #cccccc;
}

.progress-bar-fill {
  display: block;
  height: 10px;
  background: linear-gradient(-90deg,#69fbff,#ef04dd);
}

.progress_animate {
  animation: progress 2s;
}

@keyframes progress {
  from {width: 0%  }
}

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to { transform: translateY(0); }
}