html {
    scroll-behavior: smooth;
  }

nav {
    backdrop-filter: blur(30px);
    color: black;
}
.nav-colored { background-color:#000; }
.nav-transparent { background-color:transparent;}

.myImage {
    animation: slideRight 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
  }
.fadeOut {
    animation: fadeOut 0.3s;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll)*-1s);
}
