<div class="overflow-hidden">
    <div class="container mx-auto px-8 md:px-12 pt-20
        md:h-screen" style="min-height: 100vh">
        <h2 class="font-bold fadeDownLate md:text-8xl text-4xl fadeDownContact">Contact</h2>

        <div class="grid grid-cols-1 md:grid-cols-2">
            <div class="fadeRightContact">
                <p class="md:text-xl text-lg text-black">Feel free to contact me for any inquiries you might have! You can reach out to me via Email or
                    LinkedIn. You
                    can also save my CV as a PDF.</p>

                <div class="flex flex-row gap-4 pt-2">
                    <a href="mailto:jonathan.dotzler@gmail.com" target="_blank">
                        <button class="bg-gradient-to-r from-sky-500 to-indigo-500 text-lg font-bold p-2 rounded-full hover:opacity-90 transition-all">Email</button>
                    </a>

                    <a href="https://www.linkedin.com/in/jonathan-dotzler/" target="_blank">
                        <button class="bg-gradient-to-r from-violet-500 to-fuchsia-700 text-lg font-bold p-2 rounded-full hover:opacity-90 transition-all">LinkedIn</button>
                    </a>

                    <a href="../../../assets/CV_Dotzler_Jonathan.pdf" target="_blank">
                        <button class="bg-gradient-to-r from-purple-500 to-pink-500 text-lg font-bold p-2 rounded-full hover:opacity-90 transition-all">Download
                            CV</button>
                    </a>
                </div>
            </div>
            <div class="fadeLeftContact flex justify-center pt-8">
                <img src="../../../assets/call.svg" alt="" srcset="" style="max-width: calc(100vw/2)" class="self-center">
            </div>
        </div>


    </div>
</div>