.fadeLeft {
    animation: fadeLeft 2s linear infinite;
    animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

.fadeRight {
    animation: fadeRight 2s linear infinite;
    animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

@keyframes fadeLeft {
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes fadeRight {
    to {
        transform: translateX(100%);
        opacity: 0;

    }
}