.fadeDown2 {
    animation: fadeDown 1s linear;
    animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

@keyframes fadeDown2 {
    from {
        opacity: 0;
    }
    to {
        transform: translateY(100%);
        opacity: 1;
    }
}