.fadeDownLate {
    animation: fadeDownLate 0.9s linear infinite alternate;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;

}

@keyframes fadeDownLate {
    from {
        transform: translateY(-400px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}