<div class="overflow-hidden bg-gray-100">
    <div class="container mx-auto px-8 md:px-12 pt-20
        md:h-screen" style="min-height: 100vh">
        <h2 class="font-bold fadeDownLate md:text-8xl text-4xl">Education</h2>

        <div class="grid md:grid-cols-2 grid-cols-1 gap-4 p-4 justify-items-center">
            <div class="bg-white shadow-lg rounded-lg p-2 aspect-square flex flex-col eduGrid">
                <div class="flex flex-col justify-center text-center">
                    <img src="../../../assets/ethz_logo_black.svg" alt="" srcset="" class="md:w-64 w-48 self-center md:pb-8 pb-4">
                    <h3 class="text-black text-md md:text-lg">Bachelor of Science</h3>
                    <h2 class="font-bold text-black text-xl md:text-2xl">Mechanical Engineering</h2>
                    <h3 class="text-black text-sm md:text-md">SEP 2019 - SEP 2022</h3>
                </div>
                <div class="text-black text-md md:text-lg mt-auto">
                    <p>Focus: Design, Mechanics and Materials</p>
                    <p>Bachelor thesis: Experimental Study on Rigid Tools to Manufacture Complex Thermoplastic FRP Aircraft Structures</p>
                </div>
            </div>

            <div class="bg-white shadow-lg rounded-lg p-2 aspect-square flex flex-col eduGrid w-full h-full">
                <div class="flex flex-col justify-center text-center">
                    <img src="../../../assets/ethz_logo_black.svg" alt="" srcset="" class="md:w-64 w-48 self-center md:pb-8 pb-4">
                    <h3 class="text-black text-md md:text-lg">Master of Science</h3>
                    <h2 class="font-bold text-black text-xl md:text-2xl pb-4">In progress...</h2>
                    <div class="h-2 w-48 bg-gray-300 self-center">
                        <div id="progress-bar-value" class="progress-bar-value h-2"></div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>