<nav class="w-full NavColor fixed top-0 z-30" id="mynav" style="color: black;">
    <div class="container flex items-center
        justify-between mx-auto px-6 py-2
        text-left">
        <p class="font-bold text-4xl">JRD.</p>

        <div class="space-x-12 hidden md:block">
            <!-- <a class="text-lg hover:text-gray-400
                transition inline-block" href="#">
                <i class="fas fa-home" aria-hidden="true"></i> </a>
            <a class="text-lg hover:text-gray-400
                transition" href="#resume">About me</a>
            <a class="text-lg hover:text-gray-400
                transition" href="#skills">Skills</a>
            <a class="text-lg hover:text-gray-400
                transition" href="#contact">Contact</a> -->
        </div>
        <div class="md:hidden block">
            <a class="text-lg hover:text-gray-400
                transition" href="javascript:void(0)" onclick="openMobileNav()">
                <i class="fas fa-bars" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</nav>